@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



$nav_footer-bg-color: black;
$nav-footer_shadow: 0px 0.5px 0px grey;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 3fr 0.3fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";

  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-align: center;
  height: 100dvh;
  background: url("../assets/map3.jpg") no-repeat center center/cover;
}

nav {
  background-color: $nav_footer-bg-color;
  box-shadow: $nav-footer_shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: $nav_footer-bg-color;
  // box-shadow: $nav-footer_shadow;
  .copyright-text {
    padding-top: 20px;
  }
}

nav {
  grid-area: nav;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
nav #logo {
  width: 200px;
  padding-top: 10px;
}
main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "table";
}
#search-input{
  color: black;
  margin-top: 15px;
}

#modal {
  width: 300px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  overflow: auto;
  margin-top: 100px;
  grid-area: table;
  justify-self: center;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 1px 0 10px gray;
}

.modal-content {
  color: rgb(255, 255, 255);
}

#pikachu-loading-gif {
  display: block;
  margin-top:80px;
}

#pikachu-loading-gif img {
  width: 70px;
  height: 70px;
}

#pikachu-loading-gif.hidePikachu {
  display: none;
}

table {
  border-spacing: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;

  th,
  td {
    padding: 5px;
    cursor: pointer;
    width: 600px;
  }

  tr:nth-child(even) {
    background-color: rgb(18, 83, 79);
  }
  tbody {
    display: block;
    overflow: auto;
    max-height: 100%;
    width: 100%;
  }
}

#map-container {
  display: none;
  grid-area: table;
  position: relative;
  z-index: 1;
  width: 330px;
  height: 330px;
  background-color: white;
  overflow: auto;
  margin-top: 100px;
  justify-self: center;
  border-radius: 8px;
  box-shadow: 1px 0 5px black;
}
#leaflet-map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.not-found-popup {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.close {
  color: white;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  right: 5px;
  top: 5px;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

// Desktop media query
@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 3fr 0.3fr;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
    // gap: 20px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "modal map";
  }

  #modal {
    grid-area: modal;
    width: 500px;
    height: 500px;
    box-shadow: 1px 0 5px black;
    
  }

  #map-container {
    grid-area: map;
    display: block;
    width: 500px;
    height: 500px;
    
  }
  #leaflet-map {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .close {
    display: none;
  }
}
@media only screen and (min-width: 400px){
#modal{
  width: 400px;
  height: 400px;
  
}
#map-container{
  width: 400px;
  height: 400px;

}
}